// CSS RESET
// #region
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

iframe {
  border: none;
}

// CSS RESET END
// #endregion

// VARIABLES
// #region
:root {
  --text: #fff;
  --hover: #fff7d5;
  --bg: #141414;
  --bg-sec: #0c0c0c;

  --red: #ff001a;
  --green: #00ff4d;
  --yellow: #fcff52;
  --blue: #2e00f5;
  --purple: #ff00f7;
  --aqua: #00fffe;
  --gray: #808080;
}
// #endregion

// END CURSOR
// #endregion

// ELEMENTS
// #region
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: 75%;
  margin: 0 auto;
  font-size: 16px;
  font-family: "Alegreya", sans-serif;
  background-color: var(--bg);
  background-image: url("/assets/imgs/bg.gif");
  color: var(--text);
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.2em;
}

h2 {
  color: var(--yellow);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.2em;

  .smilies {
    width: auto;
    height: 2rem;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.2em;

  .smilies {
    width: auto;
    height: 1.5rem;
  }
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.2em;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 0.5px dotted var(--text);

  &:hover {
    color: var(--hover);
    border-bottom: 0.5px dotted var(--hover);
  }
}

img {
  vertical-align: middle;
  padding-bottom: 3px;
}

audio {
  display: none;
}

hr {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

ul {
  margin-bottom: 1rem;
}
// END ELEMENTS
// #endregion

// HEADER
// #region
header {
  margin: 2rem auto 0 0;
}

// HEADER END
// #endregion

// NAV
// #region
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  background-color: var(--bg-sec);
  padding: 0.3rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;

  a {
    float: left;
    text-align: center;
    padding: 0.2rem 0.7rem;
    border-bottom: none;

    &:hover {
      border-bottom: none;
    }

    &.active {
      background-color: var(--hover);
      color: #000;
      border-radius: 0.2rem;
    }
  }
}

// NAV END
// #endregion

// MAIN
// #region

main {
  background-color: #0a0a0a98;
  padding: 2rem;
  border-radius: 0.5rem;

  &.flex {
    display: flex;
    justify-content: space-between;
  }

  .container {
    margin-bottom: 1rem;
  }

  .about {
    h2 {
      a {
        border-bottom: none;
      }
    }

    .imood {
      width: 3.2em;
      height: auto;
      image-rendering: pixelated;
    }

    .flag {
      height: 1.5rem;
      width: auto;
    }
  }

  .updates {
    > iframe {
      height: 100px;
      width: 100%;
      border: none;
    }
  }

  .guestbook {
    > iframe {
      width: 100%;
    }
  }

  .lastfm-inner {
    font-weight: bold;

    img {
      border-radius: 0.5em;
      margin-right: 1em;
    }
  }

  .chat {
    margin: 1rem;
  }
}

// MAIN END
// #endregion

// FOOTER
// #region
footer {
  text-align: center;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  margin-top: auto;
  margin-bottom: 1rem;
  background-color: var(--bg-sec);

  p {
    padding: 0.5em 0.8em;
  }
}
// FOOTER END
// #endregion

// GALLERY
// #region
.gallery {
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 5px;
  -moz-column-count: 5;
  -moz-column-gap: 5px;
  column-count: 3;
  column-gap: 5px;

  img {
    height: auto;
    max-width: 100%;
    transition: transform 0.2s;
    transform: scale(1.02);
  }
}

.gallery-wrapper {
  overflow: hidden;
  border-radius: 1em;
  margin-bottom: 5px;

  > img {
    &:hover {
      transform: scale(1.2);
    }
  }
}
// GALLERY END
// #endregion

// SIGN THE GUESTBOOK
// #region
.sign-guestbook {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;

  a {
    border-bottom: none;
  }

  img {
    width: 100%;
    height: auto;
  }
}
// SIGN THE GUESTBOOK END
// #endregion

// MIDI
// #region
.midi {
  audio {
    display: inline-block;
    height: 2rem;
    width: 20rem;
    border-radius: 0.8rem;
  }
}

// RESPONSIVENESS
// #region
@media (max-width: 1150px) {
  main.flex {
    display: block;

    .chat {
      margin: 0;
    }
  }
}

@media (max-width: 1200px) {
  .gallery {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

@media (max-width: 800px) {
  .gallery {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 500px) {
  .gallery {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

// RESPONSIVENESS END
// #endregion
